.navbar{
	width: 100%;
	height: 50px;
	position: fixed;
	/* background-color: rgba(87, 82, 82, 0.605); */
}

.nav-logo{
	padding-left: 30px;
	width: 15%;
	color: rgb(252, 190, 76);
	/* border: 2px solid gray; */
}

.nav-header{
	font-family: Lucida Sans ;
    height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}




 .nav-items li, .nav-profile li{
	/* padding: 10px 20px; */
	list-style-type: none;
	font-weight:bolder;
	color: white;
	cursor: pointer;
}

.nav-items-container{
	width: 30%;
	display: flex;
	position: absolute;
	left: 35%;
	/* border: 2px solid green; */
}

.nav-items li:hover{
	text-decoration: underline;
	color: rgb(230, 183, 103);
}

.nav-items li{
	/* border: 1px solid green; */
	text-align: center;
}

.profile{
	display: flex;
	position: absolute;
	right: 3%;
	top: 8px;
	width: 40px;
	font-size: xx-large;
	color: rgba(253, 153, 71, 0.799);
	cursor: pointer;
}

.profile:hover{
	color: rgba(253, 104, 71, 0.799);
}


@media screen and (max-width: 800px) {

	.nav-items,.nav-profile li,.burger-profile{
		display: none;
	}
 
	.burger-items{
		display: flex;
		flex-direction: column;
	}

	.burger-items li,.burger-profile li{
        /* border: 2px solid green; */
		background-color: rgba(27, 26, 26, 0.9);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 13px;
		width:110%;
	}

	.burger-items li:hover{

		color: rgb(88, 206, 252);
		text-decoration: underline;
		
	}

    .nav-header{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	} 

	.nav-logo{
		position: absolute;
		left: 0%;
	}
	
	.menu-container{
		/* border: 2px solid red; */
		color: rgb(113, 188, 250);
		position: absolute;
		display: block;	
		right: 5%;
		top: 35%;
		cursor: pointer;
	}

	.burger-items-container{
		position: absolute;
		width: 100%;
		left: -15px;
		top: 33px;
	}
	
	
  }